<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unleashed.android.bulksms1"
    android:versionCode="10"
    android:versionName="@string/versionName" >

    <uses-sdk android:minSdkVersion="16" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" >

        <!-- Allows application to be installed on various screen sizes (including tablets 7.0inch -->
    </supports-screens>

    <!-- Add App permissions here -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- Include required permissions for Google Mobile Ads to run -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--
         AppsZoom Ad : Optional: For cache of images for the interstitial. This way it will
        load much quicker and consume less bandwidth
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Calender Access -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!-- Permission to know bootup of phone completed, to register alarms for pending JOBS -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.unleashed.android.application.SUApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ContactBook"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_contact_book"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <!--
        android:configChanges="keyboardHidden|orientation|screenSize"
        is needed to avoid crashes when orientation of the app changes.
            -->
        </activity>

        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <!-- Apps Zoom Interstial Ad -->
        <activity
            android:name="com.appszoom.appszoomsdk.AppsZoomInterstitialActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <!-- AdBuddiz Ad - www.adbuddiz.com -->
        <activity
            android:name="com.purplebrain.adbuddiz.sdk.AdBuddizActivity"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name="com.unleashed.android.helpers.apprating.RateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_contact_book"
            android:windowSoftInputMode="adjustResize|stateHidden" />




        <!-- AppsZoom Ad: Detect app installs. Necessary to control the installs your app generates (avoid using it if you are only tracking) -->
        <receiver android:name="com.appszoom.appszoomsdk.AppsZoomPackageAddedReceiver" >
            <intent-filter>
                <data android:scheme="package" />

                <action android:name="android.intent.action.PACKAGE_ADDED" />
            </intent-filter>
        </receiver>
        <!-- AppsZoom Ad: Detect the installation of your app and the source. -->
        <receiver
            android:name="com.appszoom.appszoomsdk.AppsZoomReferrerReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <!-- Service to Register Alarms at Bootup -->
        <receiver
            android:name="com.unleashed.android.services.BootupReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <!-- Services -->
        <service android:name="com.unleashed.android.datetimepicker.ScheduleService" />
        <service android:name="com.unleashed.android.datetimepicker.NotifyService" />
        <service
            android:name="com.unleashed.android.services.RegisterAlarmsAtBootup"
            android:enabled="true"
            android:exported="true" >
        </service>


    </application>

</manifest>
